* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-style: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  /* HEADING */
  h2 {
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 45px;
  }
  h2:after {
    content: "";
    position: absolute;
    width: 105px;
    height: 1.5px;
    background: #f7600e;
    border-radius: 50px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  h2:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 6px;
    background: #f7600e;
    border-radius: 10px;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  h2 span {
    color: #f7600e;
  }

  /*team-section*/
.team-section {
    position: relative;
  }
  .team-section .work-p {
    margin-top: 25px;
  }
  .team-members {
    margin-top: 30px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .team-members .social-link {
    margin-top: 15px;
  }
  .team-members .social-link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .team-members .social-link ul li {
    background: red;
    margin: 0 10px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
  }
  .single-item .card {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
    border-radius: 8px;
    border: 0;
  }
  .team-members .social-link ul li a {
    color: #fff;
  }
  .single-item:hover .card {
    margin-top: -20px;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    box-shadow: 2px 2px 10px #ccc;
  }
  .team-members .social-link ul li:nth-child(1) {
    background: #3b5999;
  }
  .team-members .social-link ul li:nth-child(2) {
    background: #55acee;
  }
  .team-members .social-link ul li:nth-child(3) {
    background: #b92b27;
  }